<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Show workout</title>
</head>
<body>
<h1>{{date}}</h1>

<form action="/workouts/{{workoutId}}/exercises/add" method="post">
    <label for="exerciseTypeId">Exercise</label>
    <select name="exerciseTypeId" id="exerciseTypeId">
        {% for exerciseType in exerciseTypes %}
        <option value="{{exerciseType.exerciseTypeId}}">{{exerciseType.name}}</option>
        {% endfor %}
    </select>

    <button type="submit">Add exercise</button>
</form>

{% for exercise in exercises %}
<h3>{{exercise.e_nthInWorkout}}. {{exercise.et_name}}</h3>

{% endfor %}

</body>
</html>